* {
    box-sizing: border-box;
}

.title, .listform {
    font-family: 'Permanent Marker';  
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    padding-left: 3rem;
}


.listform {
    color: #5E5D5D;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    gap: 0.6rem;
    font-size: 1.5rem;
    
}
.pill-margin > :first-child {
     margin-left: 2.2rem;
}

.badge-title {
    font-family: 'inter';
    font-size: 0.6rem;
    margin: 0.2rem ;
    justify-items: center;
    
}

.badge {
    display: flex;
    font-size: 0.9rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 4.6rem;
    height: 1.7rem;
    border-radius: 0.3rem;
    margin-top: 0.1rem;
}
.form {
    border-radius: 2rem;
}
.gray {
    color: black;
    background-color: #5E5D5D;
}
.red {
    color: #991B1B;
    background-color: #FEE2E2;
}
.yellow {
    color: #92400E;
    background-color:#FEF3C7;
}
.green {
    color: #065F46;
    background-color: #D1FAE5;
}
.blue {
    color: #1E40AF;
    background-color: #DBEAFE;
}
.indigo {
    color: #3730A3;
    background-color: #E0E7FF;
}
.purple {
    color: #5B21B6;
    background-color: #EDE9FE;
}
.pink {
    color: #9D174D;
    background-color: #FCE7F3;
}