* {
    box-sizing: border-box;
   
}
body {
    background-color: #E5E7EB;
}
.title, .listform {
    font-family: 'Permanent Marker';  
}

.title {
    
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    padding-left: 3rem;
    
}

.subtitle {
    
    font-family: 'Permanent Marker';
    color: #5E5D5D;
    font-size: 1.5rem;
}

.listform {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    max-width: 50rem;
    margin-left: 1rem;
    gap: 0.6rem;
    
}


.badge-title {
    font-family: 'inter';
    font-size: 0.6rem;
    margin: 0.2rem ;
    justify-items: center;
    
}

.badge {
    display: flex;
    font-size: 0.9rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    min-width: 4.6rem;
    min-height: 1.7rem;
    border-radius: 0.3rem;
    margin-top: 0.1rem;
}
.form {
    border-radius: 2rem;
}
.gray {
    color: black;
    background-color: #5E5D5D;
}
.red {
    color: #991B1B;
    background-color: #FEE2E2;
}
.yellow {
    color: #92400E;
    background-color:#FEF3C7;
}
.green {
    color: #065F46;
    background-color: #D1FAE5;
}
.blue {
    color: #1E40AF;
    background-color: #DBEAFE;
}
.indigo {
    color: #3730A3;
    background-color: #E0E7FF;
}
.purple {
    color: #5B21B6;
    background-color: #EDE9FE;
}
.pink {
    color: #9D174D;
    background-color: #FCE7F3;
}
/*----------------------Badges---------------------------------*/
/*----------------------Banners---------------------------------*/

.banner {
    display: flex;
    font-family: 'inter';
    padding: 1rem;
    min-height: 50px;
    min-width: 100px;
    max-width: 50rem;
    border-radius: 5px;
    margin: 1rem;
    
}

.banner-success {
    background-color: #ECFDF5;
    color: #065F46;

}
.banner-warning {
    background-color: #FFFBEB;
    color: #92400E;
}
.banner-error {
    background-color: #FEF2F2;
    color: #92400E;
}
.banner-neutral {
    background-color: #EFF6FF;
    color: #1E40AF;
}
.logo {
    font-size: 1.3rem;
    margin-right: 1rem;
}
.banner-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.banner-text {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: lighter;
}

/*----------------------Banners---------------------------------*/
/*----------------------Card-----------------------------------*/
.card {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border: 1px solid black;
    max-width: 30rem;
    height: 30rem;
    border-radius: 5px;
    position: relative;
    font-family: inter;


}
.card-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 15rem;
    width: 25rem;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

    .card-box:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

.card-logo {
    font-size: 1.8rem;
    text-align: center;
    padding: 0.8rem;
    color: #FFFFFF;
    position: absolute;
    border-radius: 0.3rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 6rem auto;
    width: 3.4rem;
    height: 3.4rem;
    background-color: #3F75FE;
    z-index: 1;
}
.card-title {
    font-weight: bolder;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
.card-text {
    font-size: 1.1rem;
    padding: 0.5rem;
}